on boot
    # Fingerprint
    chown system system /dev/goodix_fp

    # Gestures
    chown system system /sys/devices/platform/goodix_ts.0/edge_mode
    write /sys/devices/platform/goodix_ts.0/edge_mode 4
    chown system system /sys/devices/platform/goodix_ts.0/gesture/fod_en
    write /sys/devices/platform/goodix_ts.0/gesture/fod_en 1
    chown system system /sys/devices/platform/goodix_ts.0/gesture/single_en
    write /sys/devices/platform/goodix_ts.0/gesture/single_en 1

    # Glyphs
    chown system system /sys/devices/platform/soc/994000.i2c/i2c-0/0-003a/leds/led_strips/all_white_brightness
    chmod 0666 /sys/devices/platform/soc/994000.i2c/i2c-0/0-003a/leds/led_strips/all_white_brightness
    chown system system /sys/devices/platform/soc/994000.i2c/i2c-0/0-003a/leds/led_strips/frame_brightness
    chmod 0666 /sys/devices/platform/soc/994000.i2c/i2c-0/0-003a/leds/led_strips/frame_brightness
    chown system system /sys/devices/platform/soc/994000.i2c/i2c-0/0-003a/leds/led_strips/operating_mode
    chmod 0666 /sys/devices/platform/soc/994000.i2c/i2c-0/0-003a/leds/led_strips/operating_mode
    chown system system /sys/devices/platform/soc/994000.i2c/i2c-0/0-003a/leds/led_strips/single_brightness
    chmod 0666 /sys/devices/platform/soc/994000.i2c/i2c-0/0-003a/leds/led_strips/single_brightness

on post-fs-data
    # Enable WLAN SSR
    write /sys/kernel/cnss/recovery 1

    # Camera
    mkdir /data/vendor/camera 0775 camera camera
    copy /mnt/vendor/persist/camera/bokeh_caldata_uw_persist.bin /data/vendor/camera/bokeh_caldata_uw_persist.bin
    chmod 0444 /data/vendor/camera/bokeh_caldata_uw_persist.bin
    chown cameraserver audio /data/vendor/camera/bokeh_caldata_uw_persist.bin
    copy /mnt/vendor/persist/camera/ois_caldata_wide_persist.bin /data/vendor/camera/ois_caldata_wide_persist.bin
    chmod 0444 /data/vendor/camera/ois_caldata_wide_persist.bin
    chown cameraserver audio /data/vendor/camera/ois_caldata_wide_persist.bin

on property:sys.boot_completed=1
    # Wireless Charging
    chown system system /sys/class/qcom-battery/wireless_boost_en
    chmod 0666 /sys/class/qcom-battery/wireless_boost_en
    chown system system /sys/class/qcom-battery/wls_reverse_status
    chmod 0666 /sys/class/qcom-battery/wls_reverse_status

service ssgqmigd /vendor/bin/ssgqmigd64
    override
    class late_start
    user radio
    group radio gps system
    socket ssgqmig seqpacket 0660 radio inet
